.about-section {
  margin: 36px;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.about-text {
  max-width: 600px;
}

.profile-picture {
  max-width: 500px;
  max-height: 300px;
  border-radius: 50%;
}
.about-profile-picture {
  margin: 16px;
  padding: 16px;
}
